.card-header {
  background-color: #03A9F4;
  color: white;
}

.icon {
  font-size:30px;
}

.fixed-sidecard {
  position: fixed;
  left: 15;
  top: 15;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: #FFEB3B;
}

body {
  margin-top: 15px;
}

h3.title-header {
  position: fixed;
  margin-left: 15px;
}

div.projects-index {
  margin-top: 30px;
}
